[Desktop Entry]
Type=Application
Version=1.0
Name=ventoy
Name[ko]=ventoy 부팅 USB 제작
Icon=ventoy
Exec=/opt/Ventoy/VentoyGUI.x86_64
Terminal=false
Categories=Utility;
Keywords=ventoy;usb;

